<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="header::header"></div>
<main>
    <div class="container mt-5 col-lg-6 col-md-8 mx-auto">
        <h1>
            <p th:text="${title}" />
        </h1>
        <div>
            <div th:each="el : ${client}">
                <h1 th:text=" ${el.lastName}"/>
                   <h2 th:text="${el.firstName} + ' ' +${el.middleName}"/>
                <h3 th:text="'Дата рождения: ' + ${el.dateOfBirth}"></h3>
            </div>
        </div>
        <p th:if="${id}">
            <a href="/account/add" th:href="@{/account/add/} + ${id}" class="btn btn-large btn-success">Открыть новый счет</a>
        </p>
        <div class="content">
            <h1>Счета клиента:</h1>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>Номер счета</td>
                    <td>Дата открытия</td>
                    <td>Баланс</td>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${accounts.empty}">
                    <td colspan="4">Счетов не найдено</td>
                </tr>
                <tr th:each="el : ${accounts}">
                    <td th:text="${el.number}"/>
                    <td th:text="${el.openingDate}"/>
                    <td th:text="${el.balance}"/>
                    <td th:if="${id}" >
                        <a th:href="@{/account/} + ${el.id}" class="btn btn-warning" th:text="Подробнее"/>
<!--                        <form th:action="'/arrest/remove/' + ${el.arrest_id}" method="post">
                            <button type="submit" class="btn btn-warning">Удалить</button>
                        </form>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<div th:insert="footer::footer"></div>
</body>
</html>