<div th:fragment="header">
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="btn btn-outline-secondary ml-2 mr-2 my-2 me-5">АРМ</a></li>
                <li class="nav-item"><a href="/" class="btn btn-outline-primary ml-2 mr-2 my-2 me-4">Клиенты</a></li>
<!--                class="btn btn-outline-secondary ml-2 mr-2 my-2 me-5"-->
                <li class="nav-item">
                    <a class="btn btn-outline-secondary ml-2 mr-2 my-2 me-5" th:inline="text">Сотрудник: [[${#httpServletRequest.remoteUser}]]</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out" class="btn btn-warning ml-2 mr-2 my-2 me-5"/>
                    </form>
                </li>
            </ul>
        </header>
    </div>
</div>